.App {
  border: 1px solid purple;
  display: flex;
  margin: auto;
}

.chartDiv {
  border: 1px solid red;
  width: 100%;
}

.chartStatsBlock {
  border: 1px solid rgb(39, 133, 255);
  margin: auto;
  width: 85%;
}

.months {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.navHead {
  border: 1px solid rgb(143, 143, 143);
}
.statsDiv {
  border: 1px solid red;
}
.tabsDiv {
  border: 1px solid red;
  position: absolute;
  visibility: hidden;
}
