.App {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  margin: auto;
}

body {
  background-color: rgb(245, 247, 255);
}

#chart {
  border-bottom: 1px solid rgba(211, 211, 211, 0.678);
}

.chartDiv {
  background-color: white;
  border-radius: 3px;
  filter: drop-shadow(0 0 0.25rem lightgray);
  margin-bottom: 75px;
  padding-bottom: 20px;
}

.chartStatsBlock {
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  width: 66%;
}

.chartTitle {
  color: rgb(143, 143, 143);
  font-size: 20px;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 25px;
}

.descDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.description {
  background-color: white;
  color: slategray;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: -10px;
  opacity: 0.6;
  text-align: center;
  width: 75%;
}

.itemImg {
  height: 175px;
  margin-top: 20px;
  width: 175px;
}

.itemTitle {
  font-weight: bolder;
}

.linkDiv {
  display: block;
  justify-self: flex-start;
}

.months {
  color: slategray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: -40px;
  opacity: 0.6;
  padding-top: 10px;
}

.navHead {
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 75px;
  margin-bottom: 75px;
}

.navLink {
  align-items: center;
  color: lightgray;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 25px;
}

.navLink:hover {
  color: blue;
  cursor: pointer;
}

.linkText:hover {
  color: black;
}

.leftTab {
  background-color: white;
  border-radius: 3px;
  display: flex;
  filter: drop-shadow(0 0 0.25rem lightgray);
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 25px;
  width: 35%;
}

.linkDiv {
  border-top: 1px solid lightgray;
}

.linkText {
  font-size: 15px;
  margin-left: 15px;
}

.logo {
  height: 25px;
  padding-left: 25px;
  padding-top: 25px;
}

.saleColumn,
.saleItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.saleColumn {
  font-size: 13px;
  padding: 10px;
}

.saleItem {
  border-top: 1px solid lightgray;
}

.statsDiv {
  background-color: white;
  border-radius: 3px;
  cursor: s-resize;
  filter: drop-shadow(0 0 0.25rem lightgray);
  height: 400px;
  margin-bottom: 25px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.tag {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 13px;
  list-style: none;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 4px 20px;
}

.tagDiv {
  display: flex;

  border-top: 1px solid lightgray;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#root {
  width: 100%;
}
